<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="screen-only" for="room-pass">Insira uma senha</label>
    <input type="password" name="password" id="room-pass" placeholder="Insira uma senha"/></input>
    <button>
      <img src="/images/users_2.svg" alt="Criar Sala" />
      Criar Sala
    </button>
  </form>
</section>